mat-toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
}

#logout {
    display: flex;
    align-items: center;
}

#logout i {
    margin-left: 10px;
}