#login-container {
    height: 100%;
    width: 100%;
    background: #E6E6E6;
    display: flex;
    align-items: center;
    justify-content: center;
}

#login-container h1 {
    font-size: 30px;
}

.login-form {
    width: clamp(300px, 90%, 800px);
    background: #FFFFFF;
    border-radius: 30px;
    padding: 30px 50px;
    box-shadow: 0 0 30px #a8a4a4;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form button {
    width: 100%;
    height: 60px;
    background-color: #6B98F1;
    color: #FFFFFF;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 10px #7b7b7b;
}

.login-form form {
    width: 100%;
}

.login-form form input {
    width: 100%;
    height: 60px;
    border: 1px solid #6A6A6A;
    border-radius: 10px;
    margin-top: 30px;
    padding: 0 20px;
}

.login-form form button {
    margin-top: 30px;
}

#login-container span {
    margin-top: 25px;
    color: #6A6A6A;
}

#login-container span a {
    text-decoration: none;
    font-weight: bold;
    color: #6A6A6A;
}

.login-form input,
.login-form button {
    font-size: 17px;
}